* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input,
textarea,
button {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
button {
    cursor: pointer;
}

main {
    background-color: #ffff;
}

footer {
    height: 100px;
    background-color: #fff;
}
